* {
  -webkit-font-smoothing: antialiased;
}

.page-header {
  margin-top: 24px;
  margin-left: 6px;
  margin-right: 6px;
}

.form-signin {
  .page-header {
    background: url($logo) no-repeat center top;
    padding-top: 60px;
    background-size: 60px;
  }
}

.navbar-header {
  background: url($logo-white) no-repeat left center;
  padding-left: 20px;
  background-size: 35px 35px;

  .logo {
    position: absolute;
    max-width: 40px;
    top: 4px;
    left: 10px;
  }
  .navbar-brand {
    padding-left: 43px;
    font-weight: 700;
    font-size: 0.95em;
    text-transform: uppercase;
    color: $navbar-inverse-brand-color;
  }
}

@media (max-width: $grid-float-breakpoint-max) {
  .container-fluid > .navbar-header {
    margin-left: -5px;
    .navbar-brand {
      padding-left: 30px;
    }
  }
}

.navbar-inverse {
  .navbar-brand {
    color: $navbar-inverse-brand-color;
  }
  .navbar-header {
    background: url($logo-white) no-repeat left center;
    background-size: 35px;
  }
}

.navbar.navbar-default {
  .navbar-brand {
    color: $navbar-default-brand-color;
  }
  .navbar-header {
    background: url($logo) no-repeat left center;
    background-size: 35px;
  }

}

$navbar-color: $fe-blue;

.navbar-fixed-top {
  background: $fe-blue;
  .nav > li > a,
  .nav > li > a {
    color: $gray-lighter;

    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      background: lighten($navbar-color, 5%);

      -webkit-transition: background 500ms;
      -moz-transition: background 500ms;
      -o-transition: background 500ms;
      transition: background 500ms;

    }
    &[aria-expanded="true"] {
      background: lighten($navbar-color, 5%);
    }
  }
}

.nav-title {
  color: $gray-light;
  padding: 5px 15px;
  font-weight: bold;
}

.panel-footer {
  color: $brand-primary;

}

table.table-hover tbody {
  tr:hover td {
    background: $table-bg-hover;
  }
}

table.table {
  &.fixed-layout {
    table-layout: fixed;
  }
  thead {
    th {
      white-space: nowrap;
    }
  }

}

.row.color {
  > div {
    border: 1px solid white;
    background: darken($body-bg, 5%);
  }
  &.green {

    > div {
      background: $brand-success;
    }
  }
  &.primary {

    > div {
      background: $brand-primary;
    }
  }

}

.lead {
  font-weight: 400;
}

.jumbotron {
  p {
    font-weight: 400;
  }
}

.content {
  &.for-navbar-fixed-top {
    padding-top: 2em;
  }

}

@media (min-width: $screen-sm-min) {
  .navbar-right {
    margin-right: 0;
  }
}

.form-signin {
  max-width: 320px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #eeeeee;
}

.body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

/* -------------------------------------------------- */

//helpers
.bg-white,
.white-fill {
  background-color: white;
}

.no-padding {
  padding: 0;
}

.bg-danger,
.danger-fill {
  background-color: $brand-danger;
  color: #ffffff;
}

.bg-info,
.info-fill {
  background-color: $brand-info;
  color: #ffffff;
}

.bg-warning,
.warning-fill {
  background-color: $brand-warning;
  color: #ffffff;
}

.bg-primary,
.primary-fill {
  background-color: $brand-primary;
  color: #ffffff;
}

.bg-success,
.success-fill {
  background-color: $brand-success;
  color: #ffffff;
}

.btn {
  &.pull-right {
    margin-left: 4px;
  }
}

.fieldset {
  margin-top: $padding-base-vertical*4;
  margin-bottom: $padding-base-vertical*12;
  legend {
    margin-bottom: $padding-base-vertical*4;
    text-shadow: 1px 1px #FFF;
    font-size: $font-size-h4;
    color: #909090;
  }
}

fieldset {
  border: solid 1px #e5e5e5;
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
  padding-bottom: $padding-base-vertical*3;
  margin-bottom: $padding-base-vertical*4;
  legend {
    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;
    font-size: $font-size-h5;
    border-bottom: none;
    color: #909090;
    width: auto;
    margin-bottom: $padding-base-vertical*2;
  }

  > .help-block {
    margin-bottom: $padding-base-vertical*4;
  }

  .form-group:first-child {
    margin-top: 0;
  }
  .form-group:last-child {
    margin-bottom: 0;
  }
}

.form-group {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: $padding-base-vertical*4;
  &.no-left-pad {
    padding-left: 0;
  }
}

.nav-sidebar {
  > li > a {
    padding: 5px 15px;
  }

  .list-group-item {
    padding: 0;
    a {
      padding: 10px 15px;
    }
    &.active {
      a {
        color: #A5A5A5;
      }
    }
  }
}

.tabbable {

  .tab-content.bordered {
    padding: 0.5em 1em;
    border: 1px solid $pager-border;
    border-top: none;
  }

  &.filled {
    background: $panel-bg;

    nav > .nav-tabs {
      background: $body-bg;
      border-color: lighten($panel-default-border, 5%);

      li {
        a {
          border: none;
        }
        &.active {
          .dropdown-menu li {
            a:hover {
              background: $dropdown-link-hover-bg;
            }
          }

          &.pull-right {
            > a {
              background: $body-bg;
              cursor: pointer;

              &:hover {
                background: $nav-link-hover-bg;
              }
            }
          }
          a {
            background: $panel-bg;
          }
        }

      }
    }
    .tab-content {
      padding: 0 1em 1em 1em;
      .tab-pane {
        padding-top: 1.0em;
      }
    }
    .tabbable {
      .nav-tabs {
        li.active {
          a {
            background: $panel-bg;
          }
        }
      }
    }
  }
}

.checkbox-list {
  list-style: none;
  padding-left: 0;
  &.striped {
    li:nth-child(odd) {
      background: darken($body-bg, 2%);
    }

    .checkbox {
      padding-left: 8px;
      margin-left: -8px;
    }
    label {
      font-weight: normal;
    }
  }
}

.slider-container {
  padding: 6px;
  border: 1px solid $input-border;
  padding-left: $font-size-base;
}

.slider {
  &.slider-horizontal {

    width: 85%;
    margin-right: $font-size-base;
  }
}

.slider-track {

}

.slider-handle {
  background: $brand-primary;
}

@mixin table-row-variant($state, $front, $background) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  > thead > tr.#{$state},
  > tbody > tr.#{$state},
  > tfoot > tr.#{$state} {
    > td,
    > th {
      color: $front;
      background-color: $background;
    }
  }

  > tbody > tr.#{$state} {
    border-left: 3px solid $front;
  }

  // Hover states for `.table-hover`
  // Note: this is not available for cells or rows within `thead` or `tfoot`.
  &.table-hover > tbody > tr.#{$state} {
    > td:hover,
    > th:hover,
    &:hover > td,
    &:hover > th {
      background-color: darken($background, 5%);
    }
  }
}

table.table {
  &.table-striped {
    tr {
      &:nth-child(even) {
        td {
          background: $body-bg;
        }
      }
    }
  }
  tr {
    &.odd {
      background: darken($brand-offwhite, 1%);
    }
    &.even {
      background: white;
    }
  }
  font-size: $font-size-base;

  @include table-row-variant('success', $state-success-bg, lighten($state-success-bg, 56%));
  @include table-row-variant('info', $state-info-bg, lighten($state-info-bg, 41%));
  @include table-row-variant('warning', $state-warning-bg, lighten($state-warning-bg, 45%));
  @include table-row-variant('danger', $state-danger-bg, lighten($state-danger-bg, 52%));

  //tbody {
  //  tr.success {
  //    border-left: 3px solid $state-success-bg;
  //    //border-right: 3px inset $state-success-bg;
  //    td {
  //      color: $state-success-bg !important;
  //      background-color: rgba($state-success-bg, 0.05) !important;
  //      @include gradient-vertical(lighten($state-success-bg, 55%), lighten($state-success-bg, 56%), 0%, 100%);
  //    }
  //  }
  //  tr.danger {
  //    border-left: 3px solid $state-danger-bg;
  //    //border-right: 3px solid $state-danger-bg;
  //    td {
  //      color: $state-danger-bg;
  //      background: rgba($state-danger-bg, 0.05);
  //      @include gradient-vertical(lighten($state-danger-bg, 53%), lighten($state-danger-bg, 52%), 10%, 100%);
  //    }
  //  }
  //  tr.info {
  //    border-left: 3px solid $state-info-bg;
  //    td {
  //      color: $state-info-bg;
  //      background-color: rgba($state-info-bg, 0.05);
  //      @include gradient-vertical(lighten($state-info-bg, 40%), lighten($state-info-bg, 41%), 0%, 100%);
  //    }
  //  }
  //  tr.warning {
  //    border-left: 3px solid $state-warning-bg;
  //    //border-right: 3px solid $state-warning-bg;
  //    td {
  //      color: $state-warning-bg;
  //      background-color: rgba($state-warning-bg, 0.05);
  //      @include gradient-vertical(lighten($state-warning-bg, 44%), lighten($state-warning-bg, 45%), 0%, 100%);
  //    }
  //  }
  //}
  &.table-explanation {
    tr {

      td:first-child {
        color: #000000;
      }
    }
  }
  th {
    &.sortable {
      cursor: pointer;

      &:after {

        color: darken($table-border-color, 10%);
        content: ' ↕';
        font-size: 1em;
      }

      &:hover {
        opacity: 0.95;
        background-color: lighten($table-border-color, 15%);
        text-decoration: none;

        &:after {
          color: $text-color;
          text-decoration: none;
        }

      }
      &.desc {
        &:after {
          content: ' ↑';
          color: $text-color;
        }
      }
      &.asc {
        &:after {
          content: ' ↓';
          color: $text-color;
        }
      }

    }

  }
}

.input-group-btn {
  .btn {
    &.btn-default {
      padding-top: $padding-small-vertical;
      padding-bottom: ($padding-small-vertical);

    }
    &.btn-icon {
      .glyphicon:before {
        line-height: 1.5;
      }
    }

  }

}

.btn {
  &.btn-icon {
    .glyphicon:before {
      line-height: 21px;
    }
  }
}

.submenu {
  font-size: $font-size-base*0.9;
  li a {
    padding-left: $padding-base-horizontal * 2;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &.list-group {
    margin-bottom: 0;
    li a {
      padding-left: $padding-base-horizontal * 2;

    }
    .list-group-item {
      border-width: 0;

    }

  }
  .submenu {
    font-size: $font-size-base*0.75;
    li a {
      padding-left: $padding-base-horizontal * 3;
    }

  }
}

.btn {
  padding: ($padding-base-vertical*1) ($padding-base-vertical*6);
}

.panel-fe {
  border-color: $fe-blue;;
  .panel-heading {
    background: $fe-blue;
    .panel-title {

    }
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: -0.5px;
}

h2, h3 {
  &.page-header {
    border-bottom: 1px dotted $btn-default-border;
  }
}

.list-group .list-group-item.active {

  a {
    &:hover {
      background: lighten($list-group-active-bg, 5%);
    }
  }
  &:hover {
    background: lighten($list-group-active-bg, 5%);
  }
}

/* Spinner
-------------------------------------------------- */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
  display: none;
  width: 48px;
  height: 48px;
  border-radius: 3px;
  border: 1px solid $body-bg;
  background: url("../images/spinner.gif") no-repeat center center white;
  &.active {
    display: inline-block;
  }
}

.spinner-css {
  display: none;

}

.spinner-css.active {
  display: inline;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

}

.page-header {
  .logo {
    vertical-align: top;
  }
}

.jumbotron {
  p {
    color: $jumbotron-p-color;
  }
  h1 {
    font-size: 74px;
    font-weight: 300;
  }
}

/* Status boxes
-------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
  padding: 50px 0;
}

.status {
  color: gray;
}

.status .panel-title {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  line-height: 45px;
  padding-top: 20px;
  letter-spacing: -0.8px;
}

/* Step Wizard
-------------------------------------------------- */

.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  margin-top: 1em;
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;

}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/* Image Modal
-------------------------------------------------- */

.img-modal .modal-dialog {
  /* An arbitrary minimum height. Feel free to modify this one as well */
  min-height: 350px;
  height: 80%;

  margin-top: 5%;
  margin-bottom: 0;
}

.img-modal .modal-content, .img-modal .modal-body, .img-modal .row, .img-modal .modal-image {
  height: 100%;
}

.modal-content {
  border-radius: 0;
}

.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.modal-image {
  background: #000;
  padding: 0;
}

.modal-image img {
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;

  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-modal .img-modal-btn {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  font-size: 1.5em;
  width: 45px;
  color: #fff;
  transition: opacity .2s ease-in;
}

.img-modal .modal-image:hover .img-modal-btn {
  opacity: 0.4;
}

.img-modal .modal-image:hover .img-modal-btn:hover {
  opacity: 0.75;
}

.img-modal .img-modal-btn.right {
  right: 0;
}

.img-modal .img-modal-btn i {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -.75em;
}

.img-modal .modal-meta {
  position: relative;
  height: 100%;
}

.img-modal .modal-meta-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 45px;
  background: #FFF;
  padding: 5px 10px;
  overflow-y: auto;
}

.img-modal .modal-meta-top .img-poster img {
  height: 70px;
  width: 70px;
  float: left;
  margin-right: 15px;
}

.img-modal .modal-meta-top .img-poster strong {
  display: block;
  padding-top: 15px;
}

.img-modal .modal-meta-top .img-poster span {
  display: block;
  color: #aaa;
  font-size: .9em;
}

.img-modal .modal-meta-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  border-top: solid 1px #ccc;
}

.img-modal .img-comment-list {
  list-style: none;
  padding: 0;
}

.img-modal .img-comment-list li {
  margin: 0;
  margin-top: 10px;
}

.img-modal .img-comment-list li > div {
  display: table-cell;
}

.img-modal .img-comment-list img {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  margin-top: 20px;
}

.img-modal .img-comment-list p {
  margin: 0;
}

.img-modal .img-comment-list span {
  font-size: .8em;
  color: #aaa;
}

.modal-vertical-center {

}

mark,
.mark {
  background: $fe-yellow;
}

//submenu toggle visual
.sidebar {
  [data-toggle="collapse"] {
    &:before {
      color: #C4C4C4;
      font-size: 0.76em;
      content: '▼';
      padding-top: 0.26em;
      width: 0.75em;
      height: 1em;
      float: right;

    }
    &.collapsed {
      &:before {
        content: '▼';
      }
    }
    &[aria-expanded="true"] {
      &:before {
        content: '▲';
      }
    }
  }
}

.btn-group > .btn + .dropdown-toggle {
  padding: 14.5px 8px 14.5px 8px;
}

.input-group-btn .btn.btn-default {
  padding-top: 6px;
  padding-bottom: 6px;
}

.list-header {
  margin-bottom: 12px;
  display: table;

  &:empty {
    display: none;
  }

  > div {
    margin-right: 10px;
  }

  > div:last-child {
    margin-right: 0;
  }

  .list-header-cell {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    white-space: nowrap;
    padding-right: 15px;
    margin-right: 0;

    &:last-child {
      padding-right: 0;
    }
  }

  .list-header-actions {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    padding-right: 10px;
    margin-right: 0;

    &:last-child {
      padding-right: 0;
    }

    > .btn {
      margin-right: 5px;
    }

    > .btn:last-child {
      margin-right: 0;
    }
  }
}

.pcs {
  .pcs-footer {
    margin-top: $padding-base-vertical * 4;
  }
}

.icon-bar {
  background-color: white;
}

.in {
  .dropdown-menu {
    a {
      color: white;
    }
  }
}

.nav-panels {
  > .nav-sidebar {
    margin-bottom: $line-height-computed;
  }

  .panel-heading {
    .glyphicon, .fa {
      float: right;
      font-size: $font-size-base;
    }
  }
}

.nav-item-title {
  display: none;
}

.navbar-collapse {
  &.in, &.collapsing {
    .nav-item-title {
      display: inline-block;
    }
  }
}

.bootstrap-select {
  .btn-default.dropdown-toggle {
    background-color: white;
    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;
    color: $gray;
    border: 1px solid #e9e9e9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  &.btn-group .dropdown-menu li a.opt {
    padding-left: 20px !important;
  }
}

.has-error .input-group-addon {
  color: white;
}

.input-group-btn > .btn {
  padding: 6px 12px;
  margin-left: -1px;
}

.has-error .input-group-btn > .btn {
  color: $btn-danger-color;
  background-color: $btn-danger-bg;
  border-color: $btn-danger-border;

  &:hover {
    background-color: darken($btn-danger-bg, 10%);
  }
}