@charset "UTF-8";
/*------------------------------------*\
    FONTS.SCSS
\*------------------------------------*/
//
// Default settings for form elements
//
$font-dir: $brand-font-dir;
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url($font-dir + '/glyphicons-halflings-regular.eot');
  src: url($font-dir + '/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url($font-dir + '/glyphicons-halflings-regular.woff') format('woff'),
  url($font-dir + '/glyphicons-halflings-regular.ttf') format('truetype'),
  url($font-dir + '/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
