//style calender front
$static-dir: '../';
$datepicker-main-color: white;
$datepicker-accent-color: gold;
#ui-datepicker-div,
.ui-datepicker {

  min-width: 320px;
  color:#002c41;
  padding: 0 1em 1em 1em !important;
  background: $datepicker-main-color;
  font-size: 16px;
  font-family: $font-family-base;
  border: 1px #FFF solid;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.12);
  z-index: 99!important; //prevent overlap from input fields

   .ui-datepicker-month,
   .ui-datepicker-year{
     color:#002c41;
   }
  .ui-datepicker-calendar {
    table-layout: fixed;
    color:#002c41;
  }
  .ui-datepicker-header {
    color:#002c41;
    border-color: #fafafa;
    background: $datepicker-accent-color;
    border-radius: 0;
    margin: 0 -1em;
    padding: 0.5em;
    .ui-datepicker-prev,
    .ui-datepicker-next {
      top:8px;
      cursor: pointer;
    }
}
  .ui-state-default {
    color:#002c41;
    text-align: center;
    padding: 8px 0;
    border-radius: 32px;
    border: 1px solid lighten($datepicker-main-color, 5%);
    background: $datepicker-main-color;
    &:hover {
      border-radius: 32px;

      background: $datepicker-accent-color;
      color: $datepicker-main-color;
    }

  }
  .ui-state-highlight,
  .ui-state-active,
  .ui-state-hover {
    background: $datepicker-accent-color;
    color: $datepicker-main-color;
    border: 1px solid lighten($datepicker-accent-color, 5%);
    &:hover {
      background: $datepicker-accent-color;
      color: $datepicker-main-color;
      border: 1px solid lighten($datepicker-accent-color, 5%);
    }

  }
  .ui-datepicker-today {
    .ui-state-highlight {
      background: #eaeaea;
      color: #111;
      border: 1px solid #eaeaea;
    }
  }

}

